@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,200&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {

    --black:  #262626;
    --blue:   #fcf6c1;
    --blueDark:   #93B3BF;
    --gray:   #F2F2F2;
    --red:    #BF6079;
    --orange: #D97D48;
}

html, 
body {
    font-family:"Montserrat", sans-serif;
    width: 100%;
    overflow-x: hidden; /* ocultar barra de rodagem*/
}
main{
     background: #FFFFFF url("../img/bannerz.jpg") no-repeat right top fixed;
     background-size: 100%;    /* 20% à direita e 40% abaixo */
}
.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 5%;
    right: 3%;
    background-color: var(--red);/* cor para o fundo do icone*/
    color: #060706d0;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888; /* sombra no icone*/
    z-index: 1000;

}
.fa-whatsapp {
    margin-top: 16px;
}

.linkedin {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20%;
    right: 3%;
     background-color: var(--red);/* cor para o fundo do icone*/
    color: #060706d0;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 1000;

}

.fa-linkedin {
    margin-top: 16px;
}

.instagram {
    position: fixed;
    width: 60px;
    height: 60px;
     bottom: 35%;
    right: 3%;
    background-color: var(--red);/* cor para o fundo do icone*/
    color: #060706d0;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 1000;

}

.fa-instagram {
    margin-top: 16px;
}
.whatsapp:hover{
    background-color: #060706d0;/* cor para o fundo do icone*/
    color: var(--red);
    transition: background 0.6s;
}
.linkedin:hover{
    background-color: #060706d0;/* cor para o fundo do icone*/
    color: var(--red);
    transition: background 0.6s;
}
.instagram:hover{
    background-color: #060706d0;/* cor para o fundo do icone*/
    color: var(--red);
    transition: background 0.6s;
}

header{
    width: 100%;
    background: var(--gray);
}

.content{
    max-width: 1000px;
    min-width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.nav {
    width: 100%; 
    position: fixed;
    left: 0px; 
    background: rgba(0,0,0,0);
}
.corNav {
    background: var(--gray);
    transition: background 0.6s;
}

.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    cursor: pointer;
}

nav li{
    display: inline;
    margin: 0 0 0 10px;
}
nav ul{
    margin: 5px;
}

nav li:hover{
transition: color 0.6s;
}

nav ul li a {
    color: var(--black);
    text-decoration: none;
    margin: 15px;
    text-transform: uppercase;    
    font-weight: bold;
    font-size: 23px;
}

nav ul li a:hover {
    color: var(--red);
    text-decoration: none;
}

.logo  {
    width: 25%;
}



.img__banner{
    width: 100%;
    height: 80%;
}

.principal {
    padding: 3em 0;
    background: var(--gray);
    width: 100%;
}

.titulo-principal{
    margin-top: 70px;
    color: var(--red);
    font-size: 3.2em;
    text-align: center;
    margin-bottom: 20px;
}

.principal p{
    color: var(--black);
    margin: 0 0 1em;
    padding: 10px;
    line-height: 1.8em;
    padding: 0 8em 0 2em;
    text-align: justify;
}

.principal strong {
    font-weight: bold;
    color: var(--red);
}

.principal em {
    font-style: italic;
    font-weight: 600;
   
}

.parceiros{
padding: 3em 0;

}

.card__section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-evenly;
}

.paraEmpresas{
    background: #93b3bf83;
    width: 80%;
    margin: 20px;
    border-radius: 60px 20px 5px;
    cursor: pointer;
   
}
.paraEmpresas:hover{
    background: var(--blueDark);
    transition: background 0.9s;
    
}

article div p{
    color: var(--black);
    margin: 0 0 1em;
    padding: 10px;
    line-height: 1.8em;
    padding: 0 8em 0 2em;
    text-align: justify;
}

.img__texto-principal{
    width: 50%;
    float: left;
    margin: 0 20px 20px 20px;
    border-radius: 60px 20px 5px;
}

.mapa {
    padding: 3em 0;
    background: var(--blue);
}

.titulo-mapa{
    color: var(--red);
    font-size: 3.1em;
    text-align: center;
    margin-bottom: 20px;
}

.mapa-conteudo {
    width: 90%;
    margin: 0 auto;
}

.mapa p {
    color: var(--black);
    margin: 0 0 1em;
    padding: 10px;
    line-height: 1.8em;
    text-align: center;
    font-size: 1.5em;
}

footer {
    text-align: center;
    background: var(--black);
    padding: 10px 0;
}

.copyright {
    color: var(--blue);
    font-size: 1.1em;
    margin: 10px 0 0;
}
